page-home {
  .grid-header {
    color: white;
    font-weight: bold;
  }
  .score-column {
    color: white;
    font-weight: bold;
  }
  .area-display-cell {
    color: white;
    font-weight: normal;
  }
}
