<ion-header>
  <ion-grid style="padding-bottom: 0px">
    <ion-row class="grid-header">
      <ion-col col-1 text-center [style.background-color]="'blue'">
        <span (click)="openSettings(scoreFilter)"> <ion-icon name="settings"></ion-icon> </span>
      </ion-col>
      <ion-col *ngFor="let area of selectedAreas" text-center [style.background-color]="'blue'">
        <span *ngIf="area.area_city!='undefined'" (click)="changeArea(area)">{{area.area_city}}</span>
        <span *ngIf="area.area_city=='undefined'" (click)="changeArea(area)">No area selected</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid style="padding-top: 0px">
    <ion-row *ngFor="let j of itemsInView">

      <ion-col col-1 text-nowrap text-center class="score-column" [style.background-color]="'blue'">
        {{j.overall_score}}%
      </ion-col>

      <ng-container *ngFor="let i of j.areas">
        <ion-col *ngIf="i.area_city!='undefined'" text-nowrap text-center class="area-display-cell" [style.background-color]="i.backgroundcolor">
          {{i.time_string}}
        </ion-col>
        <ion-col *ngIf="i.area_city=='undefined'"> </ion-col>
      </ng-container>

    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
