<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-1>
        Score
      </ion-col>
      <ion-col *ngFor="let area of selectedAreas">
        <span (click)="changeArea(area)">  {{area.city}}</span>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let j of items">
      <ion-col col-1>
        {{j.overallScore}}%
      </ion-col>

      <ng-container *ngFor="let i of j.gridColumns">
        <ion-col [style.background-color]="i.backgroundcolor">
          {{i.time}}
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
